<div class="flex flex-col justify-center min-h-screen px-4 py-6">
  <div class="flex justify-center">
    <form
      [formGroup]="form"
      class="bg-white p-4 md:p-6 rounded-2xl shadow-xl w-full max-w-4xl border space-y-4"
    >
      <h2 class="text-3xl font-bold text-center">
        Auto calculator Futures volume
      </h2>

      <div class="border-t border-[#ffffff1a]"></div>

      <div class="flex space-x-4 md:space-x-6">
        <!-- SETTINGS SECTION -->
        <div>
          <h3 class="text-xl font-semibold mb-4">⚙️ Settings (optional)</h3>
          <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <!-- Tổng margin -->
            <div>
              <label class="block font-medium">Tổng margin </label>
              <input
                type="number"
                formControlName="totalMargin"
                placeholder="Ví dụ: 1000"
                class="w-full p-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-indigo-500"
              />
            </div>

            <!-- % Loss of margin -->
            <div>
              <label class="block font-medium">% Risk trên margin</label>
              <input
                type="number"
                formControlName="lossPercentViaMargin"
                class="w-full p-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-orange-500"
              />
            </div>

            <!-- Expected RR -->
            <div>
              <label class="block font-medium"
                >Expected RR (e.g. 1:{{ expectedRR?.value }})</label
              >
              <input
                type="number"
                formControlName="expectedRR"
                class="w-full p-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-green-500"
              />
            </div>
          </div>
        </div>

        <div class="border-l border-[#ffffff1a]"></div>

        <div>
          <!-- MAIN SECTION -->
          <div>
            <!-- <h3 class="text-xl font-semibold mb-4">📈 Main</h3> -->
            <div class="grid grid-cols-1 md:grid-cols-3 gap-4 items-center">
              <!-- Position Type Switch -->
              <div class="col-span-1 md:col-span-2">
                <label
                  class="flex items-center flex-col md:flex-row font-medium mt-6"
                >
                  <span class="mr-3"> Kiểu lệnh (optional)</span>
                  <div class="md:flex items-center">
                    <label
                      class="inline-flex items-center cursor-pointer text-lg"
                    >
                      <input
                        #positionTypeInput
                        type="radio"
                        formControlName="positionType"
                        value="long"
                        class="sr-only peer"
                      />
                      <span
                        class="px-4 py-1 rounded-l-lg bg-green-200 peer-checked:bg-green-500 peer-checked:font-bold text-white peer-checked:ring-2 peer-checked:ring-green-700 peer-checked:ring-offset-1"
                      >
                        Long
                      </span>
                    </label>
                    <label
                      class="inline-flex items-center cursor-pointer text-lg"
                    >
                      <input
                        type="radio"
                        formControlName="positionType"
                        value="short"
                        class="sr-only peer"
                      />
                      <span
                        class="px-4 py-1 rounded-r-lg bg-red-200 peer-checked:bg-red-500 peer-checked:font-bold text-white peer-checked:ring-2 peer-checked:ring-red-700 peer-checked:ring-offset-1"
                      >
                        Short
                      </span>
                    </label>
                  </div>
                </label>
              </div>

              <!-- Entry Price -->
              <div>
                <label class="block font-medium">Entry Price (optional)</label>
                <input
                  type="number"
                  formControlName="entryPrice"
                  class="w-full p-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
                />
              </div>

              <!-- Leverage -->
              <div>
                <label class="block font-medium"
                  >Đòn bẩy <span class="text-red-500">*</span></label
                >
                <input
                  type="number"
                  formControlName="leverage"
                  class="w-full p-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
                />
              </div>

              <!-- % loss -->
              <div>
                <label class="block font-medium"
                  >Phần trăm loss (%) <span class="text-red-500">*</span></label
                >
                <input
                  type="number"
                  formControlName="realLossPercent"
                  class="w-full p-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
                />
              </div>

              <!-- Max loss (readonly) -->
              <div>
                <label class="block font-medium"
                  >Số tiền tối đa loss
                  <span class="text-red-500">*</span></label
                >
                <input
                  type="number"
                  formControlName="maxLoss"
                  class="w-full p-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
                />
              </div>
            </div>
          </div>

          <!-- RESULTS -->
          <div class="space-y-2 border-t border-[#ffffff1a] pt-6 mt-6">
            <p>
              <span class="text-sm">Số tiền ký quỹ thực tế: </span>
              <strong>{{ realMargin | number : "1.2-2" }} </strong>
              <span class="text-xs">USDT</span>
            </p>
            <p class="!-mt-0.5">
              <span class="text-sm">Số tiền ký quỹ sau đòn bẩy: </span>
              <strong>{{ margin | number : "1.2-2" }} </strong>
              <span class="text-xs">USDT</span>
            </p>
            <!-- <p><strong>RR (Risk Reward):</strong> {{ rr | number : "1.2-2" }}</p> -->

            <!-- <div *ngIf="currentSL !== null" class="pt-2 border-t"> -->
            <!-- <h4 class="font-semibold text-green-600">🟢 Current TP/SL</h4> -->
            <p>
              <strong class="font-semibold text-green-600">🟢 TP:</strong>
              {{ TP | number : "1.2-3" }}
            </p>
            <p>
              <strong class="font-semibold text-red-600">🔴 SL:</strong>
              {{ SL | number : "1.2-3" }}
            </p>
            <p>
              <strong class="font-semibold text-red-600">🔴 SL 1R (1%):</strong>
              {{ SL1R | number : "1.2-3" }}
            </p>
            <!-- </div> -->

            <!-- <div *ngIf="expectedSL !== null" class="pt-2 border-t">
          <h4 class="font-semibold text-green-600">
            🟢 Expected SL/TP (Based on RR)
          </h4>
          <p><strong>SL:</strong> {{ expectedSL | number : "1.2-2" }}</p>
          <p><strong>TP:</strong> {{ expectedTP | number : "1.2-2" }}</p>
        </div> -->
          </div>
        </div>
      </div>
    </form>
  </div>

  <footer class="text-center text-sm mt-8 text-[#9ca3af]">
    Made with ❤️ by <span class="font-semibold">Alan</span>
    <br />
    <div class="flex flex-col items-center mt-1">
      <svg width="180" viewBox="0 0 180 40">
        <use href="#buy-me-a-coffee" />
      </svg>
      <div>
        <span>BingX UUID: 32118015</span>
        <br />
        <span class="text-wrap flex items-center">
          <svg width="28" viewBox="0 0 28 28">
            <use href="#bnb-logo" />
          </svg>
          : 0x64fe408f1ca9e349a0b5de04fc6af9ac64372bc3
        </span>
      </div>
    </div>
  </footer>
</div>
