<div class="flex flex-col justify-center min-h-screen px-4 py-6">
  <div class="flex justify-center">
    <form
      [formGroup]="form"
      class="bg-white p-4 md:p-6 rounded-2xl shadow-xl w-full max-w-4xl border space-y-4 glass-morphism"
    >
      <div class="grid items-center grid-cols-4">
        <div class="hidden md:block"></div>
        <h2
          translate="no"
          class="text-3xl font-bold md:whitespace-nowrap col-span-3 md:col-span-2"
        >
          Auto calculator Futures volume
        </h2>
        <!-- Language dropdown -->
        <select id="langSelector" class="ml-auto bg-transparent">
          <option value="vi">🇻🇳</option>
          <option value="en">🇺🇸</option>
        </select>
      </div>

      <div class="border-t border-[#ffffff1a]"></div>

      <div class="flex space-x-4 md:space-x-6">
        <!-- SETTINGS SECTION -->
        <div>
          <h3 class="text-xl font-semibold mb-4">⚙️ Settings (optional)</h3>
          <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <!-- Tổng margin -->
            <div>
              <label class="block font-medium">Tổng margin </label>
              <input
                type="number"
                formControlName="totalMargin"
                placeholder="Ví dụ: 1000"
                class="w-full p-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-indigo-500"
              />
            </div>

            <!-- % Loss of margin -->
            <div>
              <label class="block font-medium">% Risk trên margin</label>
              <input
                type="number"
                formControlName="lossPercentViaMargin"
                class="w-full p-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-orange-500"
              />
            </div>

            <!-- Expected RR -->
            <div>
              <label class="block font-medium"
                >Expected RR (e.g. 1:{{ expectedRRControl?.value }})</label
              >
              <input
                type="number"
                formControlName="expectedRR"
                class="w-full p-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-green-500"
              />
            </div>
          </div>
        </div>

        <div class="border-l border-[#ffffff1a]"></div>

        <div>
          <!-- MAIN SECTION -->
          <div>
            <!-- <h3 class="text-xl font-semibold mb-4">📈 Main</h3> -->
            <div class="grid grid-cols-1 md:grid-cols-3 gap-4 items-end">
              <!-- Position Type Switch -->
              <div class="col-span-1 md:col-span-2">
                <label
                  class="flex items-center flex-col md:flex-row font-medium mt-6"
                >
                  <span class="mr-3"> Kiểu lệnh (optional)</span>
                  <div class="md:flex items-center">
                    <label
                      class="inline-flex items-center cursor-pointer text-lg"
                    >
                      <input
                        #positionTypeInput
                        type="radio"
                        formControlName="positionType"
                        value="long"
                        class="sr-only peer"
                      />
                      <span
                        translate="no"
                        class="px-4 py-1 rounded-l-lg bg-green-200 peer-checked:bg-green-500 peer-checked:font-bold text-white peer-checked:ring-2 peer-checked:ring-green-700 peer-checked:ring-offset-1"
                      >
                        Long
                      </span>
                    </label>
                    <label
                      class="inline-flex items-center cursor-pointer text-lg"
                    >
                      <input
                        type="radio"
                        formControlName="positionType"
                        value="short"
                        class="sr-only peer"
                      />
                      <span
                        translate="no"
                        class="px-4 py-1 rounded-r-lg bg-red-200 peer-checked:bg-red-500 peer-checked:font-bold text-white peer-checked:ring-2 peer-checked:ring-red-700 peer-checked:ring-offset-1"
                      >
                        Short
                      </span>
                    </label>
                  </div>
                </label>
              </div>

              <!-- Entry Price -->
              <div>
                <label class="block font-medium">Entry Price (optional)</label>
                <input
                  type="number"
                  formControlName="entryPrice"
                  class="w-full p-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
                />
              </div>

              <!-- Leverage -->
              <div>
                <label class="block font-medium"
                  >Đòn bẩy <span class="text-red-500">*</span></label
                >
                <input
                  type="number"
                  formControlName="leverage"
                  class="w-full p-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
                />
              </div>

              <!-- % loss -->
              <div>
                <label class="block font-medium"
                  >Phần trăm loss (%) <span class="text-red-500">*</span></label
                >
                <input
                  type="number"
                  formControlName="realLossPercent"
                  class="w-full p-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
                />
              </div>

              <!-- Max loss (readonly) -->
              <div>
                <label class="block font-medium"
                  >Số tiền tối đa loss
                  <span class="text-red-500">*</span></label
                >
                <input
                  type="number"
                  formControlName="maxLoss"
                  class="w-full p-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
                />
              </div>
            </div>
          </div>

          <div class="grid grid-cols-2 border-t border-[#ffffff1a] pt-6 mt-6">
            <!-- RESULTS -->
            <div class="space-y-2 col-span-2 md:col-span-1">
              <p>
                <span class="text-sm">Số tiền ký quỹ thực tế: </span>
                <strong>{{ realMargin | number : "1.2-2" }} </strong>
                <span class="text-xs">USDT</span>
              </p>
              <p class="!-mt-0.5 md:whitespace-nowrap">
                <span class="text-sm">Số tiền ký quỹ sau đòn bẩy: </span>
                <strong>{{ margin | number : "1.2-2" }} </strong>
                <span class="text-xs">USDT</span>
              </p>
              <!-- <p><strong>RR (Risk Reward):</strong> {{ rr | number : "1.2-2" }}</p> -->

              <!-- <div *ngIf="currentSL !== null" class="pt-2 border-t"> -->
              <!-- <h4 class="font-semibold text-green-600">🟢 Current TP/SL</h4> -->
              <p>
                <strong translate="no" class="font-semibold text-green-600"
                  >🟢 TP:</strong
                >
                {{ TP | number : "1.2-3" }}
              </p>
              <p>
                <strong class="font-semibold text-red-600">🔴 SL:</strong>
                {{ SL | number : "1.2-3" }}
              </p>
              <p>
                <strong class="font-semibold text-red-600"
                  >🔴 SL 1R (1%):</strong
                >
                {{ SL1R | number : "1.2-3" }}
              </p>
              <!-- </div> -->

              <!-- <div *ngIf="expectedSL !== null" class="pt-2 border-t">
          <h4 class="font-semibold text-green-600">
            🟢 Expected SL/TP (Based on RR)
          </h4>
          <p><strong>SL:</strong> {{ expectedSL | number : "1.2-2" }}</p>
          <p><strong>TP:</strong> {{ expectedTP | number : "1.2-2" }}</p>
        </div> -->
            </div>
            <div
              *ngIf="hasReportKey"
              class="hidden md:block space-y-2 relative"
            >
              <div
                *ngIf="
                  confirmState === 'visible-open' ||
                  confirmState === 'visible-win' ||
                  confirmState === 'visible-loss'
                "
                class="absolute left-full top-0 ml-4 w-28 bg-white border border-gray-300 shadow-lg rounded-xl p-2 z-50"
              >
                <!-- Tooltip -->
                <div
                  class="absolute left-0 top-1/2 -translate-y-1/2 -ml-2 w-0 h-0 border-y-8 border-y-transparent border-r-8 border-r-white shadow"
                ></div>
                <p class="text-gray-800 font-medium text-xs">Are you sure?</p>
                <div class="border-t mt-1"></div>
                <div
                  *ngIf="
                    confirmState === 'visible-win' ||
                    confirmState === 'visible-loss'
                  "
                >
                  <input
                    type="number"
                    formControlName="netProfit"
                    [attr.placeholder]="
                      confirmState === 'visible-win' ? 'Net profit' : 'Net loss'
                    "
                    [ngClass]="
                      confirmState === 'visible-win'
                        ? 'text-green-600 border-green-500'
                        : 'text-red-600 border-red-500'
                    "
                    class="w-full p-2 border-2 rounded-md focus:outline-none"
                  />
                </div>
                <div class="flex justify-end gap-2 pt-2">
                  <button
                    (click)="confirmAction()"
                    class="bg-red-500 text-white select-none px-2.5 py-0.5 rounded hover:bg-red-700 text-sm"
                  >
                    Yes
                  </button>
                  <button
                    (click)="confirmState = 'invisible'"
                    class="bg-gray-50 px-2.5 py-0.5 select-none rounded hover:bg-gray-200 text-sm"
                  >
                    No
                  </button>
                </div>
              </div>

              <button
                type="button"
                (click)="confirmState = 'visible-open'"
                [disabled]="confirmState === 'opening'"
                [ngClass]="
                  confirmState === 'opening'
                    ? 'bg-gray-500 cursor-not-allowed'
                    : 'bg-blue-500 hover:bg-blue-700'
                "
                class="px-4 py-2 text-white rounded-lg transition select-none ml-12"
              >
                🚀 Open
              </button>
              <div class="flex space-x-2">
                <button
                  type="button"
                  (click)="confirmState = 'visible-win'"
                  [disabled]="
                    confirmState === 'invisible' ||
                    confirmState === 'visible-open'
                  "
                  [ngClass]="
                    confirmState === 'invisible' ||
                    confirmState === 'visible-open'
                      ? 'bg-gray-500 cursor-not-allowed'
                      : 'bg-green-500 hover:bg-green-700'
                  "
                  class="px-4 py-2 text-white rounded-lg transition select-none ml-auto"
                >
                  ✅ Close
                </button>
                <button
                  type="button"
                  (click)="confirmState = 'visible-loss'"
                  [disabled]="
                    confirmState === 'invisible' ||
                    confirmState === 'visible-open'
                  "
                  [ngClass]="
                    confirmState === 'invisible' ||
                    confirmState === 'visible-open'
                      ? 'bg-gray-500 cursor-not-allowed'
                      : 'bg-red-500 hover:bg-red-700'
                  "
                  class="px-4 py-2 text-white rounded-lg transition select-none"
                >
                  ❌ Close
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

  <footer class="text-center text-sm mt-8 text-[#9ca3af]">
    <span translate="no">
      Made with ❤️ by <span class="font-semibold">Alan</span>
    </span>
    <br />
    <div class="flex flex-col items-center mt-1">
      <div class="glass-morphism px-2 !bg-[pink] pt-1">
        <svg width="180" viewBox="0 0 180 40">
          <use href="#buy-me-a-coffee" />
        </svg>
      </div>
      <div class="mt-0.5">
        <span>BingX UUID: 32118015</span>
        <br />
        <span class="text-wrap flex items-center">
          <svg width="28" viewBox="0 0 28 28">
            <use href="#bnb-logo" />
          </svg>
          : 0x64fe408f1ca9e349a0b5de04fc6af9ac64372bc3
        </span>
      </div>
    </div>
  </footer>
  <div
    *ngIf="reports.length && hasReportKey"
    class="hidden md:grid grid-cols-3 glass-morphism bg-transparent text-white p-4 gap-x-10 mt-6 text-sm opacity-60 mx-48"
  >
    <ng-container *ngFor="let report of reports">
      <pre>{{ report }}</pre>
    </ng-container>
  </div>
</div>
